**/target
/logs
/tmp
/dist
**/dist
.classpath
.project
.settings/
*.log.*
*.log
**/logs/
.idea
*.iml
*.class
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
/ecpark-monitor/tmp
**/dependency-reduced-pom.xml